/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #505556;
}

.bg-light {
    background-color: #e9eef0 !important;
}

.bg-super-light {
    background-color: #f7f9f9;
}

.bg-dark {
    background-color: #172531 !important;
}

a {
    color: #45bd9d;   
}

a:hover {
    color: #45bd9d;
    text-decoration: none;
}

.h1, h1 {
    color: #131c22;
    font-family: "Roboto Slab";
    font-weight: 400;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    color: #131c22;
    font-weight: 600;
}

h1, .h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
}

h2, .h2 {
    font-size: 2.2rem;
    margin-top: 2.8rem;
    margin-bottom: 1rem;
}

h3, .h3 {
    font-size: 1.7rem;
    margin-top: 2.3rem;
    margin-bottom: .75rem;
}

h4, .h4 {
    font-size: 1.3rem;
    margin-top: 1.8rem;
    margin-bottom: .5rem;
}

h5, .h5 {
    font-size: 1.1rem;
    margin-top: 1.4rem;
    margin-bottom: .5rem;
}

[class^="border"] {
    border-color: #cbd5d8 !important;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar-brand img {
    height: 35px;
}

.navbar-dark a.nav-link {
    font-size: 95%; 
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

.form-inline .search-form {
    border-width: 0;
}

@media (min-width:768px) {
    .form-inline .search-form {
        width: 500px;
    }
}

.form-inline .search-form:focus {
    border-color: #45bd9d;
    color: #45bd9d;
    box-shadow: none;
}

.search-results {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    overflow: scroll;
    width: 100%;
    max-height: 90vh;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    background-color: #ffffff;
}

@media (min-width:768px) {
    .navbar-search {
        position: relative;
    }

    .search-results {
        left: 0;
        top: 100%;
        right: auto;
        width: 500px;
        margin: 5px 0 0 0;
        border-radius: .15rem;
    }
}

.result-item {
    margin: 0 1rem;
    padding: .9rem 0 1rem 0;
    border-bottom: 1px solid #cbd5d8;
}

.result-item:last-child {
    border-bottom: 0;
}

.result-title {
    font-weight: 600;
    color: #131c22;
    font-size: .95rem;
}

.result-summary {
    display: block;
    font-size: .85rem;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

#content {
    padding: 1.5rem;
}

@media (min-width: 1200px) {
    #content {
        max-width: 1000px;
    }
}

#content img {
    max-width: 100%;
    height: auto;
}

#content pre {
    padding: 1.5em;
    background-color: #f4f7f8;
}

#content blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #e5e5e5;
}

#content table {
    display: block;
    overflow: auto;
    width: 100%;
}

#content table th {
    font-weight: 600;
}

#content table td,
#content table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

#content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

#content table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.cd-sidebar a.cd-section-link {
    color: #131c22;
    display: block;
    padding: .25rem .5rem;
    font-weight: 600;
    font-size: 110%;
    cursor: pointer;
    margin-top: 1rem;
}

.cd-sidebar li:first-child a.cd-section-link {
    margin-top: 0;
}

.cd-sidebar a.cd-section-page-link {
    display: block;
    padding: .25rem .5rem;
    font-size: 90%;
    color: #505556;
    cursor: pointer;
    padding: .25rem .5rem .25rem 1rem;
}

.cd-sidebar a.cd-section-page-link:hover {
    color: #45bd9d; 
}

.cd-sidebar a.cd-subsection-link {
    font-size: 90%;
    color: #131c22;
    display: block;
    padding: .25rem .5rem .25rem 1rem;
    cursor: pointer;
    font-weight: 600;
    margin-top: .5rem;
}

.cd-sidebar a.cd-subsection-page-link {
    display: block;
    padding: .25rem .5rem .25rem 2.5rem;
    font-size: 90%;
    color: #505556;
    cursor: pointer;
}

.cd-sidebar a.cd-subsection-page-link:before {
    content: "-"; 
    color:  #45bd9d; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

.cd-sidebar a.cd-subsection-page-link:hover {
    color: #45bd9d; 
}

.cd-sidebar {
    padding: 0;
}

@media (min-width:768px) {
    .cd-sidebar.navbar-expand-md .navbar-collapse {
        display: block !important;
    } 
}

.cd-sidebar .navbar-toggler {
    width: 100%;
    font-size: 110%;
    font-weight: 600;
    text-align: center;
    padding: .75rem 1rem;
}

@media (min-width: 992px) {
    .cd-sidebar {
        position: sticky;
        top: 61px;
        z-index: 1000;
        height: calc(100vh - 61px);
    }
}

@media (min-width: 1200px) {
    .cd-sidebar {
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
    }
}

.cd-links {
    padding: 1rem 15px;
}

@media (min-width: 992px) {
    .cd-links {
        max-height: calc(100vh - 61px);
        overflow-y: auto;
        align-items: flex-start;
    }
}

.cd-sidebar .cd-sidenav {
    display: block;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    padding: 1.5rem;
}

footer p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/

.card {
    text-align: center;
    border-radius: .15rem;
    border: 0;
    position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        flex: 0 0 calc(33.3333% - 30px);
    }
}

.card-title {
    line-height: 1.4;
    margin-top: 0;
}

a.card-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.super-icon-wrapper {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.super-icon-wrapper:before {
    content: " ";
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(67,183,243,1), rgba(69,189,157,1));
    opacity: .25;
    top: 0%;
    left: 60%;
    transform: translate(-1.25em, -.25rem);
    z-index: 1;
}

.super-icon {
    font-size: 3rem;
    position: relative;
    z-index: 10;
}

.super-icon path {
    fill: #172531;
}

.card-deck .card .super-icon-wrapper{   
    margin: 30px 0;
}

.card-deck .card .description {
    min-height: 100px;
}

.card-deck .card .read-link {
    color: #172531;
    font-weight: 600;
    z-index: 1;
    font-size: .9rem;
    line-height: 1;
    margin: 0;
}

.list-page-cards {
    margin-top: 50px;
}

.list-page-cards .card {
    border: 1px solid #ccd5d8;
    text-align: left;
    min-height: 190px;
}

.list-page-cards .card .card-body {
    padding: 2rem;
}

.list-page-cards .card .read-link {
    position: absolute;
    bottom: 30px;
    color: #45bd9d;
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

.heatmap-section {
    background-image: url(images/heatmap-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumbo {
    font-size: 6rem;
    line-height: 1.1;
}

/*--------------------------------------------------------------
# Heading Links
--------------------------------------------------------------*/

h2::before {
    display: block; 
    content: " "; 
    margin-top: -70px; 
    height: 70px; 
    visibility: hidden; 
    pointer-events: none;
}

.heading-link {
    margin-left: 8px;
    transition: color .15s ease-in;
    vertical-align: middle;
}

.heading-link:hover  {
    opacity: .7;
}    

.heading-link .svg-inline--fa {
    height: 19px;
    width: auto;
    vertical-align: .125em;
}

h2 .heading-link .svg-inline--fa {
    vertical-align: .2em;
}

h4 .heading-link .svg-inline--fa {
    vertical-align: 0em;
}

h5 .heading-link .svg-inline--fa, h6 .heading-link .svg-inline--fa {
    vertical-align: -.125em;
}