{{ partial "header.html" . }}
<body class="bg-super-light">
{{ partial "navbar.html" . }}
<div class="container-fluid">
    <div class="row">    
        <div class="col-lg-3 bg-light cd-sidebar navbar-expand-lg">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="col-lg-9 cd-content">
            <div id="content">
                {{ .Content }}
                <div class="card-deck d-block d-md-flex list-page-cards">
                {{ with .CurrentSection}}
                    {{ range .RegularPages }}
                        {{ if ne .Title "Circonus API"}}
                            <div class="card d-block d-md-flex mb-4">
                                <a class="card-link" href="{{ .Permalink }}"></a>
                                <div class="card-body">
                                    <div class="card-text">
                                        <h4 class="card-title">{{ .Title }}</h4>
                                        <p class="read-link">Read now <i class="fas fa-arrow-right"></i></p>
                                    </div>    
                                </div>    
                            </div>
                        {{ end }}    
                    {{ end }}
                    {{ range .Sections }}
                        <div class="card d-block d-md-flex mb-4">
                            <a class="card-link" href="{{ .Permalink }}"></a>
                            <div class="card-body">
                                <div class="card-text">
                                    <h4 class="card-title">{{ .Title }}</h4>
                                    <p class="read-link">Read now <i class="fas fa-arrow-right"></i></p>
                                </div>    
                            </div>    
                        </div>      
                    {{ end }}
                {{ end }}
                {{ if eq .Title "Circonus" }}
                    <div class="card d-block d-md-flex mb-4">
                        <a class="card-link" href="/circonus/circapi/"></a>
                            <div class="card-body">
                                <div class="card-text">
                                    <h4 class="card-title">Circonus API</h4>
                                    <p class="read-link">Read now <i class="fas fa-arrow-right"></i></p>
                                </div>    
                            </div>    
                        </div>
                    </div>
                {{ end }}
                </div>
                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</div>
</body>
</html>