<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: 'b1d95c6ba7469a44513e025a9992df3f',
    indexName: 'circonus',
    inputSelector: '.docsearch-input',
    debug: true // Set debug to true if you want to inspect the dropdown
});
</script>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var mutationObserver = new MutationObserver(function(mutations) {
      $('a.algolia-docsearch-suggestion').attr('href',  $('a.algolia-docsearch-suggestion').attr('href').replace('https://docs.circonus.com',''));
    });

    mutationObserver.observe(document.getElementById('algolia-autocomplete-listbox-0'), {
      attributes: false,
      characterData: false,
      childList: true,
      subtree: true,
      attributeOldValue: false,
      characterDataOldValue: false
    });
  });
</script>