<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.circonus.com/"><img src="/images/general/circonus-pictogram-one-color-for-dark-background.svg" alt="Circonus" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" id="normal-links">
      <li class="nav-item">
        <a class="nav-link" href="/">Docs Home</a>
      </li>
    </ul>
    {{ partial "products.html" . }}
  </div>
  <div class="navbar-search">
    <form class="form-inline">
      <input name="search" class="form-control search-form docsearch-input" type="search" placeholder="Search docs..." aria-label="Search">
    </form>
  </div> 
</nav>
