<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.circonus.com/"><img src="/images/general/circonus-pictogram-one-color-for-dark-background.svg" alt="Circonus" /></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Docs Home</a>
      </li>
    </ul>
    {{ partial "products.html" . }}
  </div>
  <div class="navbar-search">
    <form class="form-inline my-2 my-lg-0">
      <input name="search" class="form-control search-form" type="search" placeholder="Search docs..." aria-label="Search">
    </form>
    <div class="search-results">
      <div class="result-item">
        <span class="result-title">
          Search Result Title
        </span>
        <span class="result-summary">
          This would be a summary of the search result limited to X characters...
        </span>
      </div>
      <div class="result-item">
        <span class="result-title">
          Search Result Title
        </span>
        <span class="result-summary">
          This would be a summary of the search result limited to X characters...
        </span>
      </div>
      <div class="result-item">
        <span class="result-title">
          Search Result Title
        </span>
        <span class="result-summary">
          This would be a summary of the search result limited to X characters...
        </span>
      </div>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>
