<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productNav" aria-controls="productNav" aria-expanded="false" aria-label="Toggle navigation">
  {{ with .Site.GetPage .Section}}{{ .Title }}{{ end }} Topics <i class="fas fa-chevron-down ml-3"></i>
</button>
<nav class="cd-links collapse navbar-collapse" id="productNav">
  <ul class="nav cd-sidenav">
    {{ with .FirstSection }}
      {{ range .RegularPages }}
        <li><a class="cd-section-link" href="{{.Permalink}}">{{ .Title }}</a></li>
      {{ end }}
      {{ range .Sections }}
        <li><a class="cd-section-link" href="{{.Permalink}}">{{ .Title }}</a></li>
          {{ range .RegularPages }}
            <li><a class="cd-section-page-link" href="{{.Permalink}}">{{ .Title }}</a></li>
          {{ end }}
          {{ range .Sections }}
            <li><a class="cd-subsection-link" href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ range .RegularPages }}
              <li><a class="cd-subsection-page-link" a href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
      {{ end }}
    {{ end }}  
  </ul>
</nav>
