<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productNav" aria-controls="productNav" aria-expanded="false" aria-label="Toggle navigation">
  {{ .Section }} Topics <i class="fas fa-chevron-down ml-3"></i>
</button>
<nav class="cd-links collapse navbar-collapse" id="productNav">
  {{ range where (where .Site.Pages "Section" .Section) "Kind" "section" }}
    <a class="cd-toc-link" href="{{.Permalink}}">{{ .Title }}</a>
    <ul class="nav cd-sidenav">
      {{ range .RegularPages }}
        <li><a href="{{.Permalink}}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
{{ end }}
</nav>
