<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productNav" aria-controls="productNav" aria-expanded="false" aria-label="Toggle navigation">
  {{ with .Site.GetPage .Section}}{{ .Title }}{{ end }} Topics <i class="fas fa-chevron-down ml-3"></i>
</button>
<nav class="cd-links collapse navbar-collapse" id="productNav">
  <ul class="nav cd-sidenav">
    {{ $currentPage := . }}
    {{ $showMenu := false }}

    {{ $thisProduct := index (findRE "[^/]+.*?" .Permalink) 2 }}
    {{ $thisProject := index (findRE "[^/]+.*?" .Permalink) 3 }}
    {{ $thisVersion := index (findRE "[^/]+.*?" .Permalink) 4 }}

    {{ with .FirstSection }}
      {{ range .RegularPages }}
        <li><a class="cd-section-link" href="{{.Permalink}}">{{ .Title }}</a></li>
      {{ end }}
      {{ range .Sections }}
        {{ $showMenu = false }}
        {{ if .IsAncestor $currentPage }}
          {{ $showMenu = true }}
        {{ end }}

        {{ $product := index (findRE "[^/]+.*?" .Permalink) 2 }}
        {{ $project := index (findRE "[^/]+.*?" .Permalink) 3 }}
        {{ $version := index (findRE "[^/]+.*?" .Permalink) 4 }}

        {{ $latest := 0 }}
        {{ if isset $.Site.Data.versions $project }}
          {{ $latest := (index $.Site.Data.versions $product 0) }}

          {{ if eq $version $latest }}
            <li><a class="cd-section-link" href="{{.Permalink}}">{{ .Title }}</a></li>
          {{ end }}
        {{ else if (and $thisProduct $thisProject $thisVersion) }}
            <!-- Im in a product/project -->
        {{ else }}
          <li><a class="cd-section-link" href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}


          {{ range .RegularPages }}
            <li><a class="cd-section-page-link d-none {{ with $showMenu }}d-block{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
          {{ end }}
          {{ range .Sections }}
            <li><a class="cd-subsection-link d-none {{ with $showMenu }}d-block{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ range .RegularPages }}
              <li><a class="cd-subsection-page-link d-none {{ with $showMenu }}d-block{{ end }}" a href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
      {{ end }}
    {{ end }}  

    {{ if (and $thisProduct $thisProject $thisVersion) }}
      <li>Old Versions</li>
      {{ range $myversion := index $.Site.Data.versions $thisProduct }}
         <a class="cd-subsection-page-link d-none d-block" href="http://localhost:1313/irondb/irondb/{{ $myversion }}">{{ $myversion }}</a>
      {{ end }}
    {{ end }}

  </ul>
</nav>
