<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productNav" aria-controls="productNav" aria-expanded="false" aria-label="Toggle navigation">
    CAQL Topics <i class="fas fa-chevron-down ml-3"></i>
</button>
<nav class="cd-links collapse navbar-collapse" id="productNav">
  <a class="cd-toc-link" href="/caql">CAQL</a>
  <a class="cd-toc-link" href="/caql/getting_started">Getting Started</a>
  <a class="cd-toc-link" href="/caql/reference">CAQL Reference</a>
</nav>
