<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productNav" aria-controls="productNav" aria-expanded="false" aria-label="Toggle navigation">
    CAQL Topics <i class="fas fa-chevron-down ml-3"></i>
</button>
<nav class="cd-links collapse navbar-collapse" id="productNav">
  <a class="cd-toc-link" href="/caql">CAQL</a>
  <a class="cd-toc-link" href="/caql/getting_started">Getting Started</a>
  <a class="cd-toc-link" href="/caql">How-Tos</a>
  <ul class="nav cd-sidenav">
    <li><a href="/caql/howto_aggregate_percentiles/">How to Aggregate Percentiles</a></li>
    <li><a href="/caql/howto_create_a_caql_check/">How to Create a CAQL Check</a></li>
  </ul>
  <a class="cd-toc-link" href="/caql">Explanation</a>
  <ul class="nav cd-sidenav">
    <li><a href="/caql/architecture">Design and Architecture</a></li>
  </ul>
  <a class="cd-toc-link" href="/caql/reference">CAQL Reference</a>
  <ul class="nav cd-sidenav">
    <li><a href="/caql/reference/#DataFlowandDataStructures">Data Flow and Data Structures</a></li>
    <li><a href="/caql/reference/#Syntax">Syntax</a></li>
    <li><a href="/caql/reference/#FunctionInvocations">Function Invocations</a></li>
    <li><a href="/caql/reference/#StringLiterals">String Literals</a></li>
    <li><a href="/caql/reference/#NumberLiterals">Number Literals</a></li>
    <li><a href="/caql/reference/#DurationLiterals">Duration Literals</a></li>
    <li><a href="/caql/reference/#BooleanValues">Boolean Values</a></li>
    <li><a href="/caql/reference/#Operators">Operators</a></li>
    <li><a href="/caql/reference/#ThePipeOperator">The Pipe Operator</a></li>
    <li><a href="/caql/reference/#Composition">Composition</a></li>
    <li><a href="/caql/reference/#Constants">Constants</a></li>
    <li><a href="/caql/reference/#Directives">Directives</a></li>
    <li><a href="/caql/reference/#FunctionTables">Function Tables</a></li>
    <ul class="nav cd-sidenav">
    <li><a href="/caql/reference/#Packagefind">Package find</a></li>
    <li><a href="/caql/reference/#Packagemetric">Package metric</a></li>
    <li><a href="/caql/reference/#Packagestats">Package stats</a></li>
    <li><a href="/caql/reference/#Packagewindow">Package window</a></li>
    <li><a href="/caql/reference/#Packagerolling">Package rolling</a></li>
    <li><a href="/caql/reference/#Packageaggregate">Package aggregate</a></li>
    <li><a href="/caql/reference/#Packageop">Package op</a></li>
    <li><a href="/caql/reference/#Packageeach">Package each</a></li>
    <li><a href="/caql/reference/#Packagehistogram">Package histogram</a></li>
    <li><a href="/caql/reference/#Packagemath">Package math</a></li>
    <li><a href="/caql/reference/#Packagetag">Package tag</a></li>
    <li><a href="/caql/reference/#Packagegroupby">Package groupby</a></li>
    <li><a href="/caql/reference/#Packagetime">Package time</a></li>
    <li><a href="/caql/reference/#Packagefill">Package fill</a></li>
    <li><a href="/caql/reference/#Packageforecasting">Package forecasting</a></li>
    <li><a href="/caql/reference/#Packageoutlier">Package outlier</a></li>
    <li><a href="/caql/reference/#Packagesearch">Package search</a></li>
    </ul>
  </ul>
</nav>
