openapi: 3.0.2
info:
  title: Circonus Application Programming Interface
  description: >
    The Circonus API provides an interface to programmatically access the
    functionality of the Circonus system.
servers:
  - url: "https://api.circonus.com"
security:
  - App-Name: []
    Auth-Token: []
paths:
  /account/current:
    get:
      tags:
        - Account
      summary: Retrieves account object for the account this API token is associated with.
      responses:
        "200":
          description: >
            Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Account
      summary: Updates details for the current account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          description: >
            A json object containing details about the account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /account/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Account
      summary: Retrieves details for a specific account.
      responses:
        "200":
          description: >
            A json object containing details about the account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Account
      summary: Updates details for a specific account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          description: >
            A json object containing details about the account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /acknowledgement:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Acknowledgement
      summary: Retrieves acknowledgements for the current account.
      responses:
        "200":
          description: >
            An array containing acknowledgements associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Acknowledgement"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Acknowledgement
      summary: Creates a new acknowledgement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Acknowledgement"
      responses:
        "200":
          description: >
            A json object containing details about the acknowledgement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Acknowledgement"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /acknowledgement/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Acknowledgement
      summary: Retrieves details for a specific acknowledgement.
      responses:
        "200":
          description: >
            A json object containing details about the acknowledgement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Acknowledgement"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Acknowledgement
      summary: Updates details for a specific acknowledgement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Acknowledgement"
      responses:
        "200":
          description: >
            A json object containing details about the acknowledgement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Acknowledgement"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /alert:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Alert
      summary: Fetch an array of all active alerts. By default only active alerts are searched or returned, but inactive alerts can be searched by specifiying `search=(active:false)` in the search terms.
      responses:
        "200":
          description: >
            An array of alert objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Alert"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /alert/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Alert
      summary: Retrieves details for a specific alert.
      responses:
        "200":
          description: >
            A json object containing details about the alert.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /annotation:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Annotation
      summary: Retrieves annotations for the current account.
      responses:
        "200":
          description: >
            An array containing annotations associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Annotation"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Annotation
      summary: Creates a new annotation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Annotation"
      responses:
        "200":
          description: >
            A json object containing details about the annotation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Annotation"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /annotation/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Annotation
      summary: Retrieves details for a specific annotation.
      responses:
        "200":
          description: >
            A json object containing details about the annotation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Annotation"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Annotation
      summary: Updates details for a specific annotation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Annotation"
      responses:
        "200":
          description: >
            A json object containing details about the annotation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Annotation"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Annotation
      summary: Removes the specified annotation.
      responses:
        "200":
          description: >
            The annotation was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /broker:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Broker
      summary: Retrieves broker configuration details for the current account.
      description: >
        Retrieves the configuration details for brokers used by the account that
        initiated the API request. Accepts search and pagination parameters for
        narrowing the available results.
      responses:
        "200":
          description: >
            An array containing broker configuration information for all
            brokers associated with the request account, or narrowed using
            search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Broker"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /broker/{id}:
    get:
      tags:
        - Broker
      summary: Retrieves details for the specified broker by ID.
      description: >
        Retrieves the configuration details for a broker specified by the ID
        in the request path.
      parameters:
        - in: path
          name: id
          description: >
            The broker ID of the configuration details to retrieve.
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      responses:
        "200":
          description: Broker configuration information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Broker"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /caql:
    get:
      tags:
        - CAQL
      summary: Run a CAQL query and return the data results.  CAQL documentation can be found at https://docs.circonus.com/caql/
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
          description: >
            A well-formed CAQL query
        - in: query
          name: start
          schema:
            type: integer
            default: 60 seconds before the 'end' value
          description: The start time, in epoch seconds, of the period you wish to query data from
        - in: query
          name: end
          schema:
            type: integer
            default: 5 minutes before the current time, rounded to the nearest minute
          description: The end time, in epoch seconds, of the period you wish to query data from
        - in: query
          name: period
          schema:
            type: integer
            default: 60
          description: The resolution of data, in seconds, you want to get back
      responses:
        "200":
          description: >
            The query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CAQLResponse"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Check
      summary: Fetch an array of checks.
      responses:
        "200":
          description: >
            An array containing checks, potentially narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Check"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Check
      summary: Retrieves details for a specific check.
      responses:
        "200":
          description: >
            A json object containing details about the check.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Check"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_bundle:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Check Bundle
      summary: Fetch an array of check bundles.
      responses:
        "200":
          description: >
            An array containing check bundles, potentially narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckBundle"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - in: query
          name: duplicate
          schema:
            type: integer
          description: If set to 1, tells the system to not do duplicate checking and always create the check.
        - in: query
          name: dedupe_params
          schema:
            type: string
            format: comma separated values
          description: >
            This takes a comma separated list of config values
            to use in the de-duplication comparison. This parameter will also take display_name to include
            the name in the comparison. Using this param with no values will use an empty list for comparison
            and in effect will only use target, brokers, and type.
      tags:
        - Check Bundle
      summary: >
        Creates a new check bundle.  During the creation process, new POST requests are de-duplicated
        against existing bundles. The criteria for considering a bundle duplicate is that is has the
        same target, brokers, type, and config as an existing bundle. Note that name is not considered
        when comparing bundles.  If a duplicate bundle is found, the existing bundle will be returned
        to your request unaltered. It is up to the client to make sure it is correct. To alter the
        bundle you must issue a PUT to the appropriate cid.  Two query string parameters can alter
        de-duplication behavior:  `duplicate` or `dedupe_params`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckBundle"
      responses:
        "200":
          description: >
            A json object containing details about the check bundle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckBundle"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_bundle/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Check Bundle
      parameters:
        - in: query
          name: query_broker
          schema:
            type: integer
          description: >
            If the query_broker=1 query parameter is passed the `metrics` field in the response will
            also include any additional metrics that are available for collection but are not currently active.
      summary: Retrieves details for a specific check bundle.
      responses:
        "200":
          description: >
            A json object containing details about the check bundle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckBundle"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Check Bundle
      summary: Updates details for a specific check bundle.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckBundle"
      responses:
        "200":
          description: >
            A json object containing details about the check bundle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckBundle"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Check Bundle
      summary: >
        You cannot completely remove check bundles from the system (the details of the check bundle will
        always be accessible by performing a GET on the check bundle's cid). However, you can hide the
        check bundle from the web interface and from API listings through this method.  Calling this is
        equivalent to setting the status to 'disabled'.
      responses:
        "200":
          description: >
            The check bundle was successfully disabled.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_bundle_metrics/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Check Bundle Metrics
      summary: Retrieves metric details for a specific check bundle.  This is a convenience method for check bundles.
      responses:
        "200":
          description: >
            A json object containing details about only the metrics on a check bundle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckBundleMetrics"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Check Bundle Metrics
      summary: Updates metrics for a specific check bundle.  This is a convenience method for check bundles.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckBundleMetrics"
      responses:
        "200":
          description: >
            A json object containing details about the check bundle metrics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckBundleMetrics"
        # TODO - docs for this say:  The response will contain the same list of metrics you submitted along with a result indicating the result of the operation ("success", "fail", "noop")
        # TODO - because of this likely we will have to evaluate every response for correctness.  Hopefully a swagger-based API tester will point these out.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_move:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Check Move
      summary: Fetch a list of all pending move requests
      responses:
        "200":
          description: >
            An array containing check move objects, potentially narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CheckMove"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Check Move
      summary: Creates a new check move request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckMove"
      responses:
        "200":
          description: >
            A json object containing details about the request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckMove"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_move/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Check Move
      summary: Retrieves details for a specific move request.
      responses:
        "200":
          description: >
            A json object containing details about the check move request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckMove"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Check Move
      summary: Updates details for a specific move request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckMove"
      responses:
        "200":
          description: >
            A json object containing details about the move request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckMove"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Check Move
      summary: Removes the specified move request.
      responses:
        "200":
          description: >
            The move request was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contact_group:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Contact Group
      summary: Fetch a list of contact groups.
      responses:
        "200":
          description: >
            An array containing contact group objects, potentially narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContactGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Contact Group
      summary: Creates a new contact group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactGroup"
      responses:
        "200":
          description: >
            A json object containing details about the contact group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contact_group/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Contact Group
      summary: Retrieves details for a specific contact group.
      responses:
        "200":
          description: >
            A json object containing details about the contact group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Contact Group
      summary: Updates details for a specific contact group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactGroup"
      responses:
        "200":
          description: >
            A json object containing details about the contact group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Contact Group
      summary: Removes the specified contact group.  This will have the effect of removing them from all rule sets that are currently using them.
      responses:
        "200":
          description: >
            The contact group was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dashboard:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Dashboard
      summary: Fetch a list of dashboards.
      responses:
        "200":
          description: >
            An array containing dashboard objects, potentially narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Dashboard"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Dashboard
      summary: Creates a new dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dashboard"
      responses:
        "200":
          description: >
            A json object containing details about the dashboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dashboard/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Dashboard
      summary: Retrieves details for a specific dashboard.
      responses:
        "200":
          description: >
            A json object containing details about the dashboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Dashboard
      summary: >
        Updates details for a specific dashboard.  Be sure to include all fields when updating, even the ones
        that are not being changed, or the omitted fields could be removed or replaced by default values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dashboard"
      responses:
        "200":
          description: >
            A json object containing details about the dashboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Dashboard
      summary: >
        You cannot completely remove dashboards from the system, but you can hide the dashboard from the
        web interface and from API listings by performing a DELETE request on the dashboard cid.  Doing
        this will also set the dashboard's "active" state to false.
      responses:
        "200":
          description: >
            The dashboard was successfully deactivated.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/{id}:
    parameters:
      - name: id
        in: path
        description: Combination of the numeric check_id, an underscore, and then the metric name.  <check_id>_<metric_name>
        required: true
        example: 1234_cpu
        schema:
          type: string
    get:
      tags:
        - Data
      parameters:
        - in: query
          name: type
          required: true
          schema:
            type: string
            enum:
              - text
              - numeric
              - histogram
          description: The type of data you wish to extract.  Please note that the type of data, changes the structure of the response object you will get back.
        - in: query
          name: start
          required: true
          schema:
            type: integer
          description: The start time, in epoch seconds, of the duration you wish to export data from.
          example: 1579187990
        - in: query
          name: end
          required: true
          schema:
            type: integer
          description: The end time, in epoch seconds, of the duration you wish to export data from.
          example: 1579187990
        - in: query
          name: period
          schema:
            type: integer
            enum:
              - 60
              - 300
              - 1800
              - 10800
              - 86400
          description: For numeric and histogram types only (not text). The resolution of data you want to get back, in seconds.
          example: 1579187990
        - in: query
          name: format
          schema:
            type: string
            enum:
              - legacy
              - tuple
              - object
          description: >
            This parameter is for numeric type data only, otherwise it is ignored.  This determines the return format
            of the data field. `legacy` is the original format where each record
            is [<timestamp>, <object of values>], `tuple` where each record is a JSON array of just
            numeric value fields with no field identifiers, or `object` where each record is a JSON
            object with field identifier.
        - in: query
          name: format_fields
          # TODO - when this is converted to GoAPI, make this default to "timestamp,value"
          # TODO - if this isn't specified for tuple data, we need to throw an error.  I think perl returns data in random order.  whee
          schema:
            type: string
          description: >
            Required for `tuple` or `object` format types.  This is a list of comma-separated fields to return.
            For tuples, this also controls the order they should be returned in the array.  In typical use, often only
            "timestamp,value" are used, but optionally any of the computed values stored under
            the legacy format object may be returned as well. e.g. count, derivative, stddev, etc.
          example: timestamp,value
      summary: The data endpoint provides a simple way to extract data from Circonus. Please note that this is a BETA API endpoint, and is subject to change without notice.
      responses:
        "200":
          description: >
            A json object containing details about the requested data.  There are several different format types
            that can be returned based on other request parameters.  These are first controlled by the `type` parameter.
            Numeric types are further selected by the `format` parameter, with the fields controlled by the `format_fields`
            parameter.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Data"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /graph:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Graph
      summary: Fetch graphs for the account
      responses:
        "200":
          description: >
            An array containing graphs; narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Graph"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Graph
      summary: Creates a new graph.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Graph"
      responses:
        "200":
          description: >
            A json object containing details about the graph.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Graph"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /graph/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Graph
      summary: Retrieves details for a specific graph.
      responses:
        "200":
          description: >
            A json object containing details about the graph.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Graph"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Graph
      summary: Updates details for a specific graph.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Graph"
      responses:
        "200":
          description: >
            A json object containing details about the graph.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Graph"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Graph
      summary: Removes the specified graph.
      responses:
        "200":
          description: >
            The graph was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /maintenance:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Maintenance
      summary: >
        Retrieves a list of all maintenance windows that have not yet expired/stopped.  It is not possible to list
        maintenance windows that have already expired.  Details on past windows can still be fetched with the
        `GET /maintenance/{id}` endpoint.
      responses:
        "200":
          description: >
            An array containing maintenance windows associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Maintenance"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Maintenance
      summary: >
        Creates a new maintenance window.  Maintenance windows can be created for a number of different
        types that apply to everything under that type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Maintenance"
      responses:
        "200":
          description: >
            A json object containing details about the maintenance window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Maintenance"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /maintenance/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Maintenance
      summary: Retrieves details for a specific maintenance window.
      responses:
        "200":
          description: >
            A json object containing details about the maintenance window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Maintenance"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Maintenance
      summary: >
        Updates details for a specific maintenance window.  The `type` and `item` of a maintenance
        window cannot be changed.   Once the window has started, the `start` parameter cannot be
        changed.  Once the window as closed, the `stop` parameter cannot be changed.
      # TODO - perl API used to not allow maintenance windows be created in the past.  We allow that in the UI now, so the API should too.  Verify this is the case in GoAPI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Maintenance"
      responses:
        "200":
          description: >
            A json object containing details about the maintenance window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Maintenance"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Maintenance
      summary: >
        Removes the specified maintenance window if the window has not yet started.  Once started
        maintenance windows cannot be deleted.  If it hasn't stopped yet you can stop it right away
        by updating it to stop at the current time using the `PUT /maintenance/{id}` endpoint.
      responses:
        "200":
          description: >
            The maintenance window was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metric:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
        - in: query
          name: activity_start_secs
          schema:
            type: integer
            default: one month before now
          description: >
            The start of the range of time in which to search for metric activity in IRONdb. The value
            must be an integer representing the number of seconds since the Unix epoch. The default
            value used, if omitted, is one month before the current time.  For convenience this parameter
            key can also simply be called "start" rather than "activity_start_secs".
          example: 1579188290
        - in: query
          name: activity_end_secs
          schema:
            type: integer
            default: now
          description: >
            The start of the range of time in which to search for metric activity in IRONdb. The value
            must be an integer representing the number of seconds since the Unix epoch. The default
            value used, if omitted, the current time.  For convenience this parameter
            key can also simply be called "end" rather than "activity_end_secs".
          example: 1579188290
        - in: query
          name: active_start
          schema:
            type: integer
            default: eight hours before now
          description: >
            This allows you to change what time period is compared against for determining the boolean `_active`
            value of the metric.  This parameter is not often used.  This controls the start of the range of time
            in which, if metric activity is found in IRONdb, the metric will be considered active.  The value
            must be an integer representing the number of seconds since the Unix epoch. The default value
            used is eight hours before the current time.
          example: 1579188290
        - in: query
          name: active_end
          schema:
            type: integer
            default: now
          description: >
            This allows you to change what time period is compared against for determining the boolean `_active`
            value of the metric.  This parameter is not often used.  This controls the end of the range of time
            in which, if metric activity is found in IRONdb, the metric will be considered active.  The value
            must be an integer representing the number of seconds since the Unix epoch. The default value
            used is the current time.
          example: 1579188290
      tags:
        - Metric
      summary: >
        Search endpoint for information about individual metrics.  The cid for a Metric consists of the Check ID followed by an underscore 
        followed by the metric name.
      responses:
        "200":
          description: >
            An array containing metrics associated with a check, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Metric"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metric/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Metric
      summary: Retrieves details for a specific metric.
      responses:
        "200":
          description: >
            A json object containing details about the metric.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metric"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Metric
      summary: >
          All modifications of metric data should be done through the Check Bundle endpoints.  This endpoint no longer has useful functionality 
          but is maintained to avoid breaking any integrations against it.  Previously written PUTs will continue to work, but the changes are
          discarded.
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Metric"
      responses:
        "200":
          description: >
            A json object containing details about the metric.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metric"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /provision_broker/{cn}:
    parameters:
      - $ref: "#/components/parameters/brokerCNId"
    get:
      tags:
        - Provision Broker
      summary: Retrieves details for a specific broker's provisioning.
      responses:
        "200":
          description: >
            A json object containing details about the broker.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvisionBroker"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Provision Broker
      summary: Updates details for a specific broker.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProvisionBroker"
      responses:
        "200":
          description: >
            A json object containing details about the broker.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvisionBroker"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /rule_set:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Rule Set
      summary: Retrieves rule set for the current account.
      responses:
        "200":
          description: >
            An array containing rule sets associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RuleSet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Rule Set
      summary: Creates a new rule set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleSet"
      responses:
        "200":
          description: >
            A json object containing details about the rule set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleSet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /rule_set/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Rule Set
      summary: Retrieves details for a specific rule set.
      responses:
        "200":
          description: >
            A json object containing details about the rule set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleSet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Rule Set
      summary: >
        Updates details for a specific rule set.  Many of the values for a rule set cannot be changed
        once it has been created. The "metric_name", "metric_type" and "check" all form the core identity
        of the rule, and so cannot be modified.  The alert contact for the various severities, or rules can
        be at any point.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleSet"
      responses:
        "200":
          description: >
            A json object containing details about the rule set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleSet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Rule Set
      summary: Removes the specified rule set.
      responses:
        "200":
          description: >
            The annotation was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /rule_set_group:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Rule Set Group
      summary: Retrieves rule set groups for the current account.
      responses:
        "200":
          description: >
            An array containing rule set groups associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RuleSetGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Rule Set Group
      summary: Creates a new rule set group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleSetGroup"
      responses:
        "200":
          description: >
            A json object containing details about the rule set group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleSetGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /rule_set_group/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Rule Set Group
      summary: Retrieves details for a specific rule set group.
      responses:
        "200":
          description: >
            A json object containing details about the rule set group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleSetGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Rule Set Group
      summary: Updates details for a specific rule set group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleSetGroup"
      responses:
        "200":
          description: >
            A json object containing details about the rule set group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleSetGroup"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Rule Set Group
      summary: Removes the specified rule set group.
      responses:
        "200":
          description: >
            The rule set group was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /snapshot:
    get:
      parameters:
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/SnapshotTypesEnum"
        - in: query
          name: uuid
          schema:
            type: string
            format: uuid
          description: The uuid of the requested shared resource.
        - in: query
          name: key
          schema:
            type: string
          description: The access key of the shared resource.
      tags:
        - Snapshot
      summary: To fetch a PNG image of a shared resource.
      responses:
        "200":
          description: >
            An object containing the image.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Snapshot"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tag:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Tag
      summary: Retrieves tags for the current account.
      responses:
        "200":
          description: >
            An array containing tags associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tag"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tag/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    delete:
      tags:
        - Tag
      summary: Removes the specified tag.  Deleting will remove the tag from all objects in your account.
      responses:
        "200":
          description: >
            The tag was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user:
    get:
      tags:
        - User
      summary: Retrieves user objects for the account this API token is associated with.  Users can only be viewed if the API token being used has the permissions to do so.
      responses:
        "200":
          description: >
            Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/current:
    get:
      tags:
        - User
      summary: Retrieves current user object for the account this API token is associated with.  This is a convenience function that is otherwise identical to `/user/{id}`.
      responses:
        "200":
          description: >
            Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - User
      summary: Updates details for the current user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: >
            A json object containing details about the user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - User
      summary: Retrieves details for a specific user.
      responses:
        "200":
          description: >
            A json object containing details about the user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - User
      summary: Updates details for a specific user.  Users can only be modified if the API token being used has the permissions to do so.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: >
            A json object containing details about the user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /worksheet:
    get:
      parameters:
        - $ref: "#/components/parameters/searchParam"
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/sortParam"
        - $ref: "#/components/parameters/sortDirParam"
      tags:
        - Worksheet
      summary: Retrieves annotations for the current worksheet.
      responses:
        "200":
          description: >
            An array containing worksheets associated with the request account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Worksheet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Worksheet
      summary: Creates a new worksheet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Worksheet"
      responses:
        "200":
          description: >
            A json object containing details about the worksheet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Worksheet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /worksheet/{id}:
    parameters:
      - $ref: "#/components/parameters/objectPathId"
    get:
      tags:
        - Worksheet
      summary: Retrieves details for a specific worksheet.
      responses:
        "200":
          description: >
            A json object containing details about the worksheet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Worksheet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Worksheet
      summary: Updates details for a specific worksheet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Worksheet"
      responses:
        "200":
          description: >
            A json object containing details about the worksheet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Worksheet"
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Worksheet
      summary: Removes the specified worksheet.
      responses:
        "200":
          description: >
            The worksheet was successfully removed.
        default:
          description: Some sort of error occurred during the request.  The response will include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    brokerCNId:
      name: cn
      in: path
      description: Common name of the broker
      required: true
      example: a1234-n123456.noit.circonus.net
      schema:
        type: string
    objectPathId:
      name: id
      in: path
      description: id of the object
      required: true
      example: 4242
      schema:
        type: integer
        minimum: 1
    searchParam:
      name: search
      in: query
      schema:
        type: string
      # TODO - link this to the current version of the docs
      description: >
        When listing resources via the API, you can narrow the results by including search terms with your GET call.  Colon separated
        tuples of search keys, and search values, are wrapped in parenthesis.  These tuples can be provided as search filters for the
        result set.  These searchable keys change depending on the object type being searched for.   Multiple tuples can be provided
        that will be 'AND'd together.   Documentation on how to use this search is available at https://login.circonus.com/resources/docs/user/SearchingV2.html#SearchVersion2
      example: (check_bundle_id:123456)(host:prod.*.com)
    metricSearchParam:
      name: search
      in: query
      schema:
        type: string
      # TODO - link this to the current version of the docs
      description: >
        Metrics have a very advanced search syntax that can be used to filter the by their Stream Tags.  Documentation on how to use
        this search is available at https://login.circonus.com/resources/docs/user/SearchingV3.html#searching-metric-stream-tags
      example: and(__name:available,__check_target:10.9.8.7,env:prod)
    limitParam:
      name: size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 20
      description: >
        Specify the maximum number of items that should be returned in a single call to the API.  If there are more results than can
        be returned inside the limit, an additional `X-Circonus-More-Items: true` HTTP header will be returned.
    offsetParam:
      name: from
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 1000
        default: 0
      description: >
        The number of items that should be skipped in a resultset, before applying any batch size limit.  Commonly called an 'offset'.
    sortParam:
      name: order
      in: query
      schema:
        type: string
      description: >
        To assure proper paging or consistent ordering, results should be sorted by one of the object fields.
      example: name
    sortDirParam:
      name: dir
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
        default: asc
      description: >
        Specify the direction of result sorting.
  securitySchemes:
    App-Name:
      in: header
      name: X-Circonus-App-Name
      type: apiKey
      description: The name of the registered application using the API.
    Auth-Token:
      in: header
      name: X-Circonus-Auth-Token
      type: apiKey
      description: A valid API authentication token.
  schemas:
    # Enums
    EncryptionAlgorithmsEnum:
      type: string
      enum:
        - chacha20-poly1305@openssh.com
        - aes256-gcm@openssh.com
        - aes128-gcm@openssh.com
        - aes256-ctr
        - aes192-ctr
        - aes128-ctr
        - aes256-cbc
        - aes192-cbc
        - aes128-cbc
        - rijndael128-cbc
        - rijndael192-cbc
        - rijndael256-cbc
        - blowfish-cbc
        - blowfish-ecb
        - blowfish-cfb
        - blowfish-ofb
        - blowfish-ctr
        - twofish128-ctr
        - twofish128-cbc
        - twofish192-ctr
        - twofish192-cbc
        - twofish256-ctr
        - twofish256-cbc
        - twofish-cbc
        - twofish-ecb
        - twofish-cfb
        - twofish-ofb
        - arcfour256
        - arcfour128
        - arcfour
        - cast128-cbc
        - cast128-ecb
        - cast128-cfb
        - cast128-ofb
        - idea-cbc
        - idea-ecb
        - idea-cfb
        - idea-ofb
        - 3des-cbc
        - 3des-ecb
        - 3des-cfb
        - 3des-ofb
        - 3des-ctr
        - none
    MessageAuthAlgosEnum:
      type: string
      enum:
        - hmac-sha2-512-etm@openssh.com
        - hmac-sha2-256-etm@openssh.com
        - umac-128-etm@openssh.com
        - umac-64-etm@openssh.com
        - hmac-sha2-512
        - hmac-sha2-256
        - hmac-sha1
        - hmac-sha1-96
        - hmac-md5
        - hmac-md5-96
        - hmac-ripemd160
        - hmac-ripemd160@openssh.com
        - none
    CheckTypesEnum:
      type: string
      enum:
        - caql
        - cim
        - circonuswindowsagent
        - circonuswindowsagent:nad
        - cloudwatch
        - collectd
        - composite
        - consul
        - dcm
        - dhcp
        - dns
        - elasticsearch
        - external
        - ganglia
        - graphite_tls
        - graphite_plain
        - googleanalytics
        - haproxy
        - http
        - http:apache
        - httptrap
        - httptrap:cloud_agent_aws
        - httptrap:cloud_agent_azure
        - httptrap:cloud_agent_gcp
        - imap
        - jmx
        - json
        - json:couchdb
        - json:mongodb
        - json:nad
        - json:riak
        - ldap
        - memcached
        - mongodb
        - munin
        - mysql
        - newrelic_rpm
        - nginx
        - nrpe
        - ntp
        - opentsdb
        - oracle
        - ping_icmp
        - promtext
        - prometheus
        - prometheus:kubernetes
        - pop3
        - postgres
        - redis
        - resmon
        - smtp
        - snmp
        - snmp:momentum
        - sqlserver
        - ssh2
        - statsd
        - tcp
        - varnish
      description: >
        The different check types available.  This may include older deprecated types, or enterprise-only types that are not available to all brokers.
      example: http
    FunctionsEnum:
      type: string
      enum:
        - average
        - stddev
        - derive
        - derive_stddev
        - counter
        - counter_stddev
      example: average
    SnapshotTypesEnum:
      type: string
      enum:
        - dashboards
        - graphs
        - worksheets
      description: The type of shared resource.
      example: graphs
    # sub-objects
    AlertFormat:
      type: object
      properties:
        long_message:
          type: string
          description: The bulk of the message used in long form alert messages.
        long_subject:
          type: string
          description: The subject used in long form alert messages.
        long_summary:
          type: string
          description: The brief summary used in long form alert messages.
        short_message:
          type: string
          description: The subject used in short form alert messages
        short_summary:
          type: string
          description: The brief summary used in short form alert messages

    CheckTypeCAQLConfig:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: A well formed CAQL query that will be the basis of the Check
    CheckTypeCirconusWindowsAgentConfig:
      type: object
      required:
        - query
      properties:
        auth_password:
          type: string
          description: The HTTP BASIC Authentication user password.
        auth_user:
          type: string
          description: The HTTP BASIC Authentication user name.
        calculated:
          type: string
          enum:
            - true
            - false
            - on
            - off
          default: "true"
        category:
          type: string
          description: The category to pull WMI counters from.
        port:
          type: integer
          default: 34332
          description: The TCP port can be specified to overide the default.
        url:
          type: string
          description: The URL including schema and hostname (as you would type into a browser's location bar).
    CheckTypeCloudwatchConfig:
      type: object
      properties:
        api_key:
          type: string
          description: The AWS API Key to use for connections
        api_secret:
          type: string
          description: The AWS API Secret
        cloudwatch_metrics:
          type: string
          description: A comma-delimited list of metrics to pull data for
        dim_(.+):
          type: string
          description: The dimensions to query for each metric. dim_foo will set a metric with dimension "foo".
        granularity:
          type: string
          enum:
            - 1
            - 5
            - 60
          default: 5
          description: The granularity of cloudwatch data to pull.
        namespace:
          type: string
          description: The namespace to pull parameters from
        statistics:
          type: string
          default: "Average"
          description: "A comma-delimited list of statistics to pull per metric (Choices are: Average, Sum, SampleCount, Maximum, and Minimum - 'Default' may also be specified to pull recommended values)"
          example: Average,Minimum,Maximum
        url:
          type: string
          default: https://monitoring.amazonaws.com
          description: The URL including schema and hostname for the Cloudwatch monitoring server. This value will be used to specify the region - for example, to pull from us-east-1, the URL would be https://monitoring.us-east-1.amazonaws.com.
        version:
          type: string
          default: "2010-08-01"
          description: The version of the Cloudwatch API to use.
    CheckTypeCollectdConfig:
      type: object
      properties:
        asynch_metrics:
          type: string
          enum:
            - true
            - false
          description: Determines if metrics should be reported on arrival or queued into periodic bundles.
        secret:
          type: string
          description: >
            The collectd password for authenticating signed and encrypted packets. Also
            the password used for HTTP authentication when using the write_http ingestion method.
        security_level:
          type: integer
          minimum: 0
          maximum: 2
          description: An integer detailing the security level which to allow. 0 for all packets allowed, 1 for signed and encrypted packets allowed, 2 for only encrypted packets allowed.
        username:
          type: string
          description: The collectd username for authenticating signed and encrypted packets. Also the username used for HTTP authentication when using the write_http ingestion method.
    CheckTypeCompositeConfig:
      type: object
      properties:
        composite_metric_name:
          type: string
          description: The name of the metric that will be output from this check.
        formula:
          type: string
          description: The equation to determine the value of the metric.
    CheckTypeConsulConfig:
      type: object
      properties:
        check_name:
          type: string
          description: The name of the Consul check.
        check_name_blacklist:
          type: string
          description: A comma separated list of check names to skip.
        consul_dc:
          type: string
          description: The UserSpecifiedConsulDC to filter to.
        node_blacklist:
          type: string
          description: A comma separated list of node names to skip.
        port:
          type: integer
          default: 8500
          minimum: 1
          maximum: 65535
          description: The TCP port can be specified to override the default of 8500.
        service_blacklist:
          type: string
          description: A comma separated list of service names to skip.
        service_name:
          type: string
          description: The Consul service name to check.
        url:
          type: string
          default: http:///v1/health/state/any
          description: "The Consul health check url to call, see consul docs: https://www.consul.io/docs/agent/http/health.html"
    CheckTypeDHCPConfig:
      type: object
      properties:
        hardware_addr:
          type: string
          default: 00:00:00:00:00:00
          description: The hardware address of the host computer.
        host_ip:
          type: string
          format: ipv4
          default: 0.0.0.0
          description: The IP address of the host computer.
        request_type:
          type: string
          enum:
            - 1
            - 8
          default: 1
          description: The type of DHCP request message to send to the server.
        send_port:
          type: integer
          default: 67
          description: Specifies the port to send DHCP request packets to.
    CheckTypeDNSConfig:
      type: object
      properties:
        ctype:
          type: string
          enum:
            - IN
            - CH
            - HS
          default: IN
          description: >
            The DNS class of the query. IN: Internet, CH: Chaos, HS: Hesoid.
        nameserver:
          type: string
          description: The domain name server to query. If the name of the check is in-addr.arpa, the system default nameserver is used. Otherwise, the nameserver is the %[target] of the the check.
        query:
          type: string
          description: The query to send. If the name of the check is in-addr.arpa, the reverse IP octet notation of in-addr.arpa syntax is synthesized by default. Otherwise the default query is the name of the check itself.
        rtype:
          type: string
          enum:
            - A
            - AAAA
            - TXT
            - MX
            - SOA
            - CNAME
            - PTR
            - NS
            - MB
            - MD
            - MF
            - MG
            - MR
          default: A
          description: The DNS resource record type of the query. If the name of the check is in-addr.arpa, the default is PTR, otherwise it is A.
    CheckTypeElasticSearchConfig:
      type: object
      properties:
        port:
          type: string
          default: "81"
          description: >
            The TCP port can be specified to override the default of 81.
        url:
          type: string
          description: The URL including schema and hostname (as you would type into a browser's location bar).
    CheckTypeGangliaConfig:
      type: object
      properties:
        asynch_metrics:
          type: string
          enum:
            - true
            - false
          description: Determines if metrics should be reported on arrival or queued into periodic bundles.
    CheckTypeHaproxyConfig:
      type: object
      properties:
        auth_password:
          type: string
          description: The HTTP BASIC Authentication user password.
        auth_user:
          type: string
          description: The HTTP BASIC Authentication user name.
        host:
          type: string
          description: Host name to include in HTTP request, defaults to target IP.
        port:
          type: string
          default: 80
          description: The TCP port can be specified to override the default.
        select:
          type: string
          description: Specifies a regular expression to pick which metrics to report. Will be matched against the pxname and svname columns concatenated by a ","
        uri:
          type: string
          example: /admin?stats;csv
          description: The URL excluding schema and hostname for the haproxy stats CSV export.
        use_ssl:
          type: string
          enum:
            - true
            - false
            - on
            - off
          default: false
          description: Upgrade TCP connection to use SSL.
    CheckTypeHTTPConfig:
      type: object
      properties:
        auth_method:
          type: string
          enum:
            - Basic
            - Digest
            - Auto
        auth_password:
          type: string
          description: The password to use during authentication.
        auth_user:
          type: string
          description: The user to authenticate as.
        body:
          type: string
          description: This regular expression is matched against the body of the response. If a match is not found, the check will be marked as "bad."
        ca_chain:
          type: string
          description: A path to a file containing all the certificate authorities that should be loaded to validate the remote certificate (for SSL checks).
        certificate_file:
          type: string
          description: A path to a file containing the client certificate that will be presented to the remote server (for SSL checks).
        ciphers:
          type: string
          description: A list of ciphers to be used in the SSL protocol (for SSL checks).
        code:
          type: string
          format: regex
          default: "^200$"
          description: The HTTP code that is expected. If the code received does not match this regular expression, the check is marked as "bad."
        extract:
          type: string
          description: This regular expression is matched against the body of the response globally. The first capturing match is the key and the second capturing match is the value. Each key/value extracted is registered as a metric for the check.
        header_(\S+):
          type: string
          description: Allows the setting of arbitrary HTTP headers in the request.
        http_version:
          type: string
          pattern: '^(\d+\.\d+)?$'
          default: 1.1
          description: Sets the HTTP version for the check to use.
        key_file:
          type: string
          description: A path to a file containing key to be used in conjunction with the client certificate (for SSL checks).
        method:
          type: string
          default: GET
          description: The HTTP method to use.
        payload:
          type: string
          description: The information transferred as the payload of an HTTP request.
        read_limit:
          type: string
          format: integer
          default: 1048576
          description: Sets an approximate limit on the data read (0 means no limit).
        redirects:
          type: string
          format: integer
          default: 0
          description: The maximum number of Location header redirects to follow.
        url:
          type: string
          description: The URL including schema and hostname (as you would type into a browser's location bar).
    CheckTypeHTTPApacheConfig:
      type: object
      properties:
        auth_method:
          type: string
          enum:
            - Basic
            - Digest
            - Auto
        auth_password:
          type: string
          description: The password to use during authentication.
        auth_user:
          type: string
          description: The user to authenticate as.
        body:
          type: string
          description: This regular expression is matched against the body of the response. If a match is not found, the check will be marked as "bad."
        ca_chain:
          type: string
          description: A path to a file containing all the certificate authorities that should be loaded to validate the remote certificate (for SSL checks).
        certificate_file:
          type: string
          description: A path to a file containing the client certificate that will be presented to the remote server (for SSL checks).
        ciphers:
          type: string
          description: A list of ciphers to be used in the SSL protocol (for SSL checks).
        code:
          type: string
          format: regex
          default: "^200$"
          description: The HTTP code that is expected. If the code received does not match this regular expression, the check is marked as "bad."
        extract:
          type: string
          description: This regular expression is matched against the body of the response globally. The first capturing match is the key and the second capturing match is the value. Each key/value extracted is registered as a metric for the check.
        header_(\S+):
          type: string
          description: Allows the setting of arbitrary HTTP headers in the request.
        http_version:
          type: string
          pattern: '^(\d+\.\d+)?$'
          default: 1.1
          description: Sets the HTTP version for the check to use.
        key_file:
          type: string
          description: A path to a file containing key to be used in conjunction with the client certificate (for SSL checks).
        method:
          type: string
          default: GET
          description: The HTTP method to use.
        payload:
          type: string
          description: The information transferred as the payload of an HTTP request.
        read_limit:
          type: string
          format: integer
          default: 1048576
          description: Sets an approximate limit on the data read (0 means no limit).
        redirects:
          type: string
          format: integer
          default: 0
          description: The maximum number of Location header redirects to follow.
        url:
          type: string
          description: The URL including schema and hostname (as you would type into a browser's location bar).
    CheckTypeHTTPTrapConfig:
      type: object
      properties:
        asynch_metrics:
          type: string
          enum:
            - true
            - false
          default: false
          description: Specify whether httptrap metrics are logged immediately or held until the status message is to be emitted.
        secret:
          type: string
          pattern: "^[a-zA-Z0-9_-]+$"
          description: >
            Specify the secret with which metrics may be submitted. You may use letters, numbers, dashes, or underscores.
    CheckTypeIMAPConfig:
      type: object
      properties:
        auth_password:
          type: string
          description: The IMAP password.
        auth_user:
          type: string
          description: The IMAP user.
        ca_chain:
          type: string
          description: A path to a file containing all the certificate authorities that should be loaded to validate the remote certificate (for SSL checks).
        certificate_file:
          type: string
          description: A path to a file containing the client certificate that will be presented to the remote server (for SSL checks).
        ciphers:
          type: string
          description: A list of ciphers to be used in the SSL protocol (for SSL checks).
        fetch:
          type: string
          enum:
            - true
            - false
            - on
            - off
          default: false
          description: Fetch either that highest UID or last SEARCH result.
        folder:
          type: string
          default: INBOX
          description: The folder that should be examined.
        header_Host:
          type: string
          description: The host header to validate against the SSL certificate (for SSL checks).
        key_file:
          type: string
          description: A path to a file containing key to be used in conjunction with the client certificate (for SSL checks).
        port:
          type: string
          format: integer
          description: Specifies the port on which the management interface can be reached.
        search:
          type: string
          description: Specify an optional IMAP SEARCH operation to execute after EXAMINE.
        use_ssl:
          type: string
          enum:
            - true
            - false
            - on
            - off
          default: false
          description: Upgrade TCP connection to use SSL.
    CheckTypeJMXConfig:
      type: object
      properties:
        mbean_domains:
          type: string
          description: Space separated list of domains to extract metrics for. Default is all domains (no list specified).
        mbean_properties_(.+):
          type: string
[...]
